div.tweets-tweet-listing ul {
  list-style: none;
}

div.tweets-tweet-listing div.tweet-authorphoto {
  margin: 0 5px 0 0;
  float: left;
}

div.tweets-tweet-listing div.tweet-authorphoto img {
  max-height: 40px;
  max-width: 40px;
}

div.tweets-tweet-listing a {
  color: blue;
}

div.tweets-tweet-listing .tweet-author a {
  font-weight: bold;
}

div.tweets-tweet-listing .tweet-time a {
  color: silver;
}

div.tweets-tweet-listing  div.tweet-divider {
  clear: left;
  border-bottom: 1px solid #efefef;
  margin: 5px 0 5px 0;
}

div.tweet-morelink {
  clear: left;
  text-align:right;
  padding: 0 8px 0 0;
}

div.tweet-morelink .tweet-page {
  font-weight: bold;
}

div.tweet-empty-msg {
  clear: both;
  text-align:left;
  padding: 0 0 0 10px;
}